<div>
    <label class="required">Question 1</label>
    <div id="recrutementtest_recrutementtestbundle_test_questions___name__">
        <div>
            <label for="recrutementtest_recrutementtestbundle_test_questions___name___libelle" class="required">Libelle</label>
            <input type="text" id="recrutementtest_recrutementtestbundle_test_questions___name___libelle" name="recrutementtest_recrutementtestbundle_test[questions][__name__][libelle]" required="required" />
        </div>
            <div>
                <label for="recrutementtest_recrutementtestbundle_test_questions___name___test" class="required">Test</label>
                <input type="text" id="recrutementtest_recrutementtestbundle_test_questions___name___test" name="recrutementtest_recrutementtestbundle_test[questions][__name__][test]" required="required" />
            </div>
            <div>
                <label class="required">Reponses</label>
                <div id="recrutementtest_recrutementtestbundle_test_questions___name___reponses" data-prototype="&lt;div&gt;&lt;label class=&quot;required&quot;&gt;__name__label__&lt;/label&gt;&lt;div id=&quot;recrutementtest_recrutementtestbundle_test_questions___name___reponses___name__&quot;&gt;&lt;div&gt;&lt;label for=&quot;recrutementtest_recrutementtestbundle_test_questions___name___reponses___name___intitule&quot; class=&quot;required&quot;&gt;Intitule&lt;/label&gt;&lt;input type=&quot;text&quot; id=&quot;recrutementtest_recrutementtestbundle_test_questions___name___reponses___name___intitule&quot; name=&quot;recrutementtest_recrutementtestbundle_test[questions][__name__][reponses][__name__][intitule]&quot; required=&quot;required&quot; /&gt;&lt;/div&gt;&lt;div&gt;&lt;label for=&quot;recrutementtest_recrutementtestbundle_test_questions___name___reponses___name___isTrue&quot; class=&quot;required&quot;&gt;Is true&lt;/label&gt;&lt;input type=&quot;text&quot; id=&quot;recrutementtest_recrutementtestbundle_test_questions___name___reponses___name___isTrue&quot; name=&quot;recrutementtest_recrutementtestbundle_test[questions][__name__][reponses][__name__][isTrue]&quot; required=&quot;required&quot; /&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;">
                </div>
            </div>
     </div>
</div>